# kubernetes/kube-vip/kubeadm-config-patch.yaml
#
# This patch ensures that:
# 1. The controlPlaneEndpoint is set to the Virtual IP (VIP).
# 2. The API Server's certificate Subject Alternative Names (SANs) include the VIP
#    and all master node IPs, which is crucial for TLS validation.
#
data:
  ClusterConfiguration: |
    apiServer:
      certSANs:
      - kubernetes
      - kubernetes.default
      - kubernetes.default.svc
      - kubernetes.default.svc.cluster.local
      - master-1.detectviz.internal
      - master-2.detectviz.internal
      - master-3.detectviz.internal
      - "192.168.0.10"
      - "192.168.0.11"
      - "192.168.0.12"
      - "192.168.0.13"
      - "127.0.0.1"
    apiVersion: kubeadm.k8s.io/v1beta4
    caCertificateValidityPeriod: 87600h0m0s
    certificateValidityPeriod: 8760h0m0s
    certificatesDir: /etc/kubernetes/pki
    clusterName: detectviz
    controlPlaneEndpoint: "192.168.0.10:6443"
    controllerManager:
      extraArgs:
      - name: bind-address
        value: 0.0.0.0
    dns: {}
    encryptionAlgorithm: RSA-2048
    etcd:
      local:
        dataDir: /var/lib/etcd
    imageRepository: registry.k8s.io
    kind: ClusterConfiguration
    kubernetesVersion: v1.32.0
    networking:
      dnsDomain: cluster.local
      podSubnet: 10.244.0.0/16
      serviceSubnet: 10.96.0.0/12
    proxy: {}
    scheduler:
      extraArgs:
      - name: bind-address
        value: 0.0.0.0
