apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: "57.0.3"
    releaseName: node-exporter
    valuesInline:
      alertmanager:
        enabled: false
      grafana:
        enabled: false
      kube-state-metrics:
        enabled: false
      prometheus:
        enabled: false
      prometheus-node-exporter:
        enabled: true
        service:
          port: 9100
          targetPort: 9100
        prometheus:
          monitor:
            enabled: true
            namespace: prometheus
