apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: argocd-application-controller

spec:
  template:
    spec:
      containers:
        - name: argocd-application-controller
          resources:
            requests:
              cpu: 2000m
              memory: 4Gi
            limits:
              cpu: 4000m
              memory: 8Gi
          env:
            - name: ARGOCD_CONTROLLER_REPLICAS
              value: "2"
            - name: ARGOCD_CONTROLLER_RECONCILIATION_TIMEOUT
              value: "10m"
            - name: ARGOCD_APPLICATION_CONTROLLER_KUBECTL_PARALLELISM_LIMIT
              value: "20"
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
