---
- name: "Update apt cache"
  become: true
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: "Install common packages"
  become: true
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - yq
    state: present
