apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patchesStrategicMerge:
  - cert-manager-tolerations.yaml
  - cert-manager-cainjector-tolerations.yaml
  - cert-manager-webhook-tolerations.yaml
