# Helm values to configure Keycloak to use the secret created by ESO and deploy to app-worker
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: keycloak
spec:
  values:
    nodeSelector:
      node-role.kubernetes.io/workload-apps: "true"
    externalDatabase:
      existingSecret: "keycloak-db-creds"
      secretKeys:
        password: "POSTGRES_PASSWORD"
      host: "postgresql.postgresql.svc.cluster.local"
      port: 5432
      database: keycloak
      user: keycloak
