apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

helmCharts:
  - name: loki
    repo: https://grafana.github.io/helm-charts
    version: "6.6.4"
    releaseName: loki
    valuesFile: values.yaml
