---
- name: Restart containerd
  ansible.builtin.service:
    name: containerd
    state: restarted

- name: Restart sshd
  become: true
  ansible.builtin.service:
    name: sshd
    state: restarted
