# NGINX Ingress Controller Service
# Uses LoadBalancer type with MetalLB to expose on VIP 192.168.0.10

apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
  annotations:
    # MetalLB IP pool assignment
    metallb.universe.tf/address-pool: default
    # Fixed LoadBalancer IP (VIP) - using annotation instead of spec.loadBalancerIP (deprecated)
    metallb.universe.tf/loadBalancerIPs: 192.168.0.10
spec:
  type: LoadBalancer
  # Removed deprecated loadBalancerIP field - using annotation instead
  externalTrafficPolicy: Local
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
    - name: https
      port: 443
      protocol: TCP
      targetPort: https
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
