apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx

bases:
  - ../base

# Helm Chart values override
helmCharts:
  - name: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    version: "4.10.1"
    releaseName: ingress-nginx
    namespace: ingress-nginx
    valuesFile: values.yaml

patchesStrategicMerge:
  - ingress-nginx-controller-tolerations.yaml
  # ingress-nginx-service.yaml - 移除,改用 values.yaml 中的配置

commonLabels:
  app.kubernetes.io/part-of: detectviz-infrastructure
  app.kubernetes.io/managed-by: argocd
