apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx

buildOptions:
  - --enable-helm

bases:
  - ../base

# Helm Chart values override
helmCharts:
  - name: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    version: "4.10.1"
    releaseName: ingress-nginx
    namespace: ingress-nginx
    valuesFile: values.yaml

patchesStrategicMerge:
  - ingress-nginx-controller-tolerations.yaml
  - ingress-nginx-service.yaml

commonLabels:
  app.kubernetes.io/part-of: detectviz-infrastructure
  app.kubernetes.io/managed-by: argocd
