---
- name: Check if kubeadm has been initialized
  ansible.builtin.stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_initialized

- name: "[P2] Install Kube-VIP required packages"
  ansible.builtin.apt:
    name: ['arping', 'jq']
    state: present
  become: true

- name: "[P2] Download Kube-VIP Manifest"
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/kube-vip/kube-vip-cloud-provider/main/manifest/kube-vip-cloud-controller.yaml"
    dest: "/etc/kubernetes/manifests/kube-vip-cloud-controller.yaml"
    mode: '0644'
  become: true
  when: inventory_hostname == groups['masters'][0]

- name: "[P2] Generate Kube-VIP DaemonSet for Control Plane HA"
  ansible.builtin.command: >
    docker run --rm ghcr.io/kube-vip/kube-vip:{{ kube_vip_version }} manifest daemonset
    --interface {{ ansible_default_ipv4.interface }}
    --address {{ cluster_vip }}
    --controlplane
    --leaderElection
    --taint
    --inCluster
    --arp
    --enableLoadBalancer=true
  register: kube_vip_ds_manifest
  become: true
  changed_when: true
  when: inventory_hostname == groups['masters'][0]

- name: "[P2] Write Kube-VIP DaemonSet Manifest"
  ansible.builtin.copy:
    content: "{{ kube_vip_ds_manifest.stdout }}"
    dest: "/etc/kubernetes/manifests/kube-vip-ds.yaml"
  become: true
  when: inventory_hostname == groups['masters'][0]

- name: Generate kubeadm config
  ansible.builtin.template:
    src: kubeadm-config.yaml.j2
    dest: /tmp/kubeadm-config.yaml
  when: inventory_hostname == groups['masters'][0]

- name: Initialize first control plane node
  ansible.builtin.command: kubeadm init --config /tmp/kubeadm-config.yaml
  args:
    creates: /etc/kubernetes/admin.conf
  when:
    - inventory_hostname == groups['masters'][0]
    - not kubeadm_initialized.stat.exists

- name: Ensure .kube directory exists for root user
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    mode: "0700"
  when: inventory_hostname == groups['masters'][0]

- name: Copy admin kubeconfig to root's .kube directory
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    remote_src: yes
    mode: "0600"
  when: inventory_hostname == groups['masters'][0]

- name: Fetch admin kubeconfig to control node
  ansible.builtin.fetch:
    src: /etc/kubernetes/admin.conf
    dest: "{{ playbook_dir }}/kubeconfig/admin.conf"
    flat: yes
  when: inventory_hostname == groups['masters'][0]

- name: Upload control plane certificates
  ansible.builtin.command: kubeadm init phase upload-certs --upload-certs
  register: kubeadm_upload_certs
  changed_when: false
  when: inventory_hostname == groups['masters'][0]

- name: Set kubeadm certificate key fact
  ansible.builtin.set_fact:
    kubeadm_certificate_key: "{{ kubeadm_upload_certs.stdout | regex_search('[a-f0-9]{64}') }}"
  when: inventory_hostname == groups['masters'][0]

- name: Create kubeadm join command token
  ansible.builtin.command: kubeadm token create --print-join-command
  register: kubeadm_join_command
  changed_when: false
  when: inventory_hostname == groups['masters'][0]

- name: Set join command facts
  ansible.builtin.set_fact:
    control_plane_join_command: "{{ kubeadm_join_command.stdout }} --control-plane --certificate-key {{ kubeadm_certificate_key }}"
    worker_join_command: "{{ kubeadm_join_command.stdout }}"
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ groups['k8s_cluster'] }}"
  when: inventory_hostname == groups['masters'][0]

- name: "[P2] Download Calico Manifest"
  ansible.builtin.get_url:
    url: "{{ calico_manifest_url }}"
    dest: "{{ calico_manifest_local_path }}"
    mode: '0644'
  become: false
  when: inventory_hostname == groups['masters'][0]

- name: "[P2] Modify Calico Manifest with Pod CIDR"
  ansible.builtin.lineinfile:
    path: "{{ calico_manifest_local_path }}"
    regexp: '^(.*"name": "CALICO_IPV4POOL_CIDR", "value": ").*(")$'
    line: '\1{{ pod_network_cidr }}\2'
    backrefs: true
  become: false
  when: inventory_hostname == groups['masters'][0]

- name: "[P2] Apply Calico CNI"
  ansible.builtin.command: "kubectl apply -f {{ calico_manifest_local_path }}"
  become: false
  when: inventory_hostname == groups['masters'][0]
  changed_when: true

- name: Join additional control plane nodes
  ansible.builtin.command: "{{ hostvars[groups['masters'][0]]['control_plane_join_command'] }}"
  args:
    creates: /etc/kubernetes/kubelet.conf
  when:
    - inventory_hostname != groups['masters'][0]
