apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: "57.0.3"
    releaseName: prometheus
    # namespace 由 ApplicationSet destination 決定 (monitoring)
