# ExternalSecret to fetch Grafana admin credentials from Vault
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-admin-creds
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: grafana-admin
    creationPolicy: Owner
  data:
    - secretKey: admin-user
      remoteRef:
        key: secret/data/monitoring/grafana
        property: admin-user

    - secretKey: admin-password
      remoteRef:
        key: secret/data/monitoring/grafana
        property: admin-password
