# Helm values to configure Grafana to use the secret created by ESO
grafana:
  env:
    GF_DATABASE_TYPE: postgres
    GF_DATABASE_HOST: "postgresql.postgresql.svc.cluster.local"
    GF_DATABASE_NAME: grafana
    GF_DATABASE_USER:
      valueFrom:
        secretKeyRef:
          name: grafana-db-creds
          key: POSTGRES_USER
    GF_DATABASE_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: grafana-db-creds
          key: POSTGRES_PASSWORD
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://prometheus.prometheus.svc.cluster.local:9090
        - name: Loki
          type: loki
          url: http://loki.loki.svc.cluster.local:3100
        - name: Tempo
          type: tempo
          url: http://tempo.tempo.svc.cluster.local:3200
